# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# FastAPI/Starlette specific (common environment)
.env
.env.test
.env.*.local
connect_to_postgres.env

# Pytest
.cache/
.pytest_cache/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Virtual environments
venv/
env/
.venv/
.env/

# macOS files
.DS_Store

# Logs
*.log


