repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
        args: [--check]

  - repo: local
    hooks:
      - id: mypy
        name: mypy (src/)
        entry: uv run mypy src
        language: system
        types: [ python ]
        pass_filenames: false
