name: Build Docker Container

on:
  workflow_run:
    workflows: [ "Test" ]
    types: [ completed ]
    branches: [ main ]

env:
  DOCKER_REGISTRY: ghcr.io

jobs:
  build-backend-container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set lowercase image name
        id: image-name
        run: echo "IMAGE_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push starranja backend image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ env.DOCKER_REGISTRY }}/${{ steps.image-name.outputs.IMAGE_NAME }}-starranja-backend:latest
            ${{ env.DOCKER_REGISTRY }}/${{ steps.image-name.outputs.IMAGE_NAME }}-starranja-backend:${{ github.sha }}